<div class="auth-container">
  <div class="card-login">
    <h2>¡Hola de nuevo!</h2>
    <p>Ingresá tus credenciales para jugar.</p>

    <form [formGroup]="formLogin" (ngSubmit)="entrar()">
      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="email" formControlName="email" placeholder="nombre@ejemplo.com"
               [class.is-invalid]="formLogin.get('email')?.invalid && formLogin.get('email')?.touched">
        @if (formLogin.get('email')?.invalid && formLogin.get('email')?.touched) {
          <small class="error-message">Ingresá un correo válido.</small>
        }
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="••••••••"
               [class.is-invalid]="(formLogin.get('password')?.invalid && formLogin.get('password')?.touched) || errorLogin()">
        
        @if (errorLogin()) {
          <small class="error-message">{{ errorLogin() }}</small>
        } @else if (formLogin.get('password')?.invalid && formLogin.get('password')?.touched) {
          <small class="error-message">La contraseña es obligatoria.</small>
        }
      </div>

      <button type="submit" [disabled]="formLogin.invalid || cargando()" class="btn-login">
        {{ cargando() ? 'Iniciando sesión...' : 'Iniciar Sesión' }}
      </button>
    </form>

    <div class="fast-access">
      <p>Entrar rápido como:</p>
      <div class="btn-group">
        <button type="button" class="btn-fast" (click)="completarCampos('test1@test.com', '123456')">Pablo</button>
        <button type="button" class="btn-fast" (click)="completarCampos('test2@test.com', '123456')">Santiago</button>
        <button type="button" class="btn-fast" (click)="completarCampos('test3@test.com', '123456')">Pablo2</button>
      </div>
    </div>

    <div class="switch-auth">
      ¿No tenés cuenta? <a routerLink="/registro">Crear una ahora</a>
    </div>
  </div>
</div>