.grilla-tarjetas {
    display: flex;
    flex-wrap: wrap; /* Permite que bajen de línea si no entran en la pantalla */
    justify-content: center;
    gap: 30px; /* Espacio entre tarjeta y tarjeta */
    margin-top: 40px;
    width: 100%;
}