<div class="chat-container">
  <div class="mensajes-lista">
    @for (msj of mensajes(); track msj.id) {
       
      <div class="mensaje" [class.propio]="msj.user_id === usuarioId">
        
        @if (msj.user_id !== usuarioId) {
          
          <strong>{{ msj.nombre_usuario }}</strong>
        }
        <small>{{ msj.created_at | date:'dd/MM/yyyy HH:mm' }}</small>
        
        <p>{{ msj.contenido }}</p>
        
        <!-- displayed -->
        
      </div>
    }
  </div>
  <div class="input-area">
    <input [(ngModel)]="nuevoMensaje" placeholder="Escribí un mensaje..." (keyup.enter)="mandar()"[disabled]="enviando()">
     
    <button (click)="mandar()" [disabled]="enviando()">Enviar</button>
  </div>
</div>