<div class="chat-container">
  <div class="mensajes-lista">
    @for (msj of mensajes(); track msj.id) {
       
      <div class="mensaje" [class.propio]="msj.user_id === usuarioId">
        
        @if (msj.user_id !== usuarioId) {
          <strong>{{ msj.nombre_usuario }}</strong>
        }
        
        <p>{{ msj.contenido }}</p>
        
        <small>{{ msj.created_at | date:'HH:mm' }}</small>
      </div>
    }
  </div>
  <div class="input-area">
    <input [(ngModel)]="nuevoMensaje" placeholder="Escribí un mensaje..." (keyup.enter)="mandar()">
    <button (click)="mandar()">Enviar</button>
  </div>
</div>